<div class="max-w-2xl p-8 rounded-xl mx-auto text-center my-16 bg-gray-50">
  <h1 class="font-black text-3xl">Members only!</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, architecto? Magnam, iste cupiditate et molestias harum maxime explicabo optio minima? Quam sit iusto tempore repellat commodi corrupti ut vel atque.</p>
</div>
